<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body> 
    
    <h1>Dear <%= @member.firstname %>,</h1>
    <p>
      Welcome to the European division of VATSIM!<br /><br />
      On behalf of the entire team VATEUD, we would like to welcome you among us.            
    </p>
  
    <p>
      You will discover a virtual world that is extremely close to real life.  In this virtual world, we will help you to control and monitor your aircraft if you want to be a pilot or the finer details of how to become an Air Traffic Controller. You will not be alone in front of your screen; you will be able to share your passion with many VATSIM members, not only in Europe, but worldwide. For this, several tools are available: <br /><br />

      <strong>For connection to the network as a Pilot:</strong>    
      <ul>
        <li><a href="http://www.squawkbox.ca">Squawkbox (FSX, FS2004)</a></li>
        <li><a href="http://flightsim.apollo3.com/docs/fsinn/connectiontovatsim.htm">FSInn (FSX, FS2004)</a></li>
        <li><a href="http://www.xsquawkbox.net/xsb/download/">XSquawkbox (X-Plane)</a></li>
      </ul>
      <strong>For Connection to the network as an Air Traffic Controller:</strong>    
      <ul>
        <li><a href="http://www.euroscope.hu/">Euroscope</a></li>
        <li><a href="http://www1.metacraft.com/VRC/">VRC</a></li>
      </ul>
    </p>    

    <p>We know that the first steps on a network are never simple, we've all been there.  In an attempt to make your first connection experience as comfortable as possible, a team of VATEUD Flight Instructors are available.  They will provide you with training and all that is necessary to get you started. You can enroll for newbie pilot training by simply filling the form at <a href="http://ptd.vateud.net">ptd.vateud.net</a> if you’d like to concentrate on being a pilot, or you can send a mail to newbie-atc@vateud.net if you’d like us to assist you with ATC training. Do not hesitate, we are here to help you.</p>

    <p>If you need assistance with seeting up software of would like advice in general, you can contact our New Members Support Manager at: vateud5@vateud.net</p>

    <p>We hope to see you among us! Good luck and blue skies!</p>
    <p>Yours truly,!</p>
    <p><em><strong>The VATEUD Staff Team</strong></em></p>
  </body>
</html>


 
