<%= form_for(@subdivison) do |f| %>
  <% if @subdivison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subdivison.errors.count, "error") %> prohibited this subdivison from being saved:</h2>

      <ul>
      <% @subdivison.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
