%row 
  .span5
    %h2 VATEUD events calendar
  .span7
    / .pull-right  
    /   <a href="#members-filter" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-search icon-white"></i> Filter Members</a>
    /   <a href="/members" role="button" class="btn btn-danger"><i class="icon-list icon-white"></i> Clear Filters</a>

=render "events_list"


%ul.nav.nav-pills
  %li.active= link_to "JSON", "/events.json"
  %li.active= link_to "XML", "/events.xml"
  %li.active= link_to "CSV", "/events.csv"
  %li.active= link_to "ICS/iCAL", "/events.ics"

/ = render "members_search_form"