%h1 VATEUD API Ratings

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tr
    %th CODE
    %th NAME

  %tr
    %td 0
    %td Suspended|SUSP
  %tr
    %td 1
    %td Pilot/Observer|OBS
  %tr
    %td 2
    %td Student|S1
  %tr
    %td 3
    %td Student 2|S2
  %tr
    %td 4
    %td Senior Student|S3
  %tr
    %td 5
    %td Controller|CTR
  %tr
    %td 6
    %td Not used
  %tr
    %td 7
    %td Senior Controller|CTR+
  %tr
    %td 8
    %td Instructor|INS
  %tr
    %td 9
    %td Not used
  %tr
    %td 10
    %td Senior Instructor|INS+
  %tr
    %td 11
    %td Supervisor|SUP
  %tr
    %td 12
    %td Administrator|ADM
 