development:
  adapter: postgresql
  encoding: unicode
  database: db_name
  pool: 5
  host: localhost
  username: username
  password: password

production:
  adapter: postgresql
  encoding: unicode
  database: db_name
  pool: 5
  host: localhost
  username: username
  password: password

vateud:
  adapter: mysql2
  host: db_host
  username: user
  password: pass
  database: db_name

freq:
  adapter: mysql2
  host: db_host
  username: user
  password: pass
  database: db_name
  encoding: utf8
  collation: utf8_general_ci

