%footer
  © #{Date.today.year} <a href="http://vateud.net/">vateud.net</a>. All rights reserved. 
  Developed by <a href="http://rubystudio.net">Ruby Studio</a>. 
  Hosted by <a href="https://www.digitalocean.com/?refcode=ee3f235a13c9">Digital Ocean</a>